<section id="social-pane" class="row text-center social">
  {{ with .Site.Params.social.twitter }}
  <a href="https://twitter.com/{{.}}"><i class="fab fa-twitter-square"></i></a>
  {{ end }}
  {{ with .Site.Params.social.mastodon }}
  <a href="{{.}}"><i class="fab fa-mastodon"></i></a>
  {{ end }}
  {{ with .Site.Params.social.google }}
  <a href="https://plus.google.com/{{.}}/about"><i class="fab fa-google-plus-square"></i></a>
  {{ end }}
  {{ with .Site.Params.social.facebook }}
  <a href="https://facebook.com/{{.}}"><i class="fab fa-facebook-square"></i></a>
  {{ end }}
  {{ with .Site.Params.social.reddit }}
  <a href="https://www.reddit.com/user/{{.}}/"><i class="fab fa-reddit-square"></i></a>
  {{ end }}
  {{ with .Site.Params.social.meetup }}
  <a href="https://www.meetup.com/members/{{.}}"><i class="fab fa-meetup"></i></a>
  {{ end }}
  {{ with .Site.Params.social.hackernews }}
  <a href="https://news.ycombinator.com/user?id={{.}}"><i class="fab fa-slideshare"></i></a>
  {{ end }}
  {{ with .Site.Params.social.slideshare }}
  <a href="https://www.slideshare.net/{{.}}"><i class="fab fa-facebook-square"></i></a>
  {{ end }}
  {{ with .Site.Params.social.github }}
  <a href="https://github.com/{{.}}"><i class="fab fa-github-alt"></i></a>
  {{ end }}
  {{ with .Site.Params.social.gitlab }}
  <a href="https://gitlab.com/{{.}}"><i class="fab fa-gitlab"></i></a>
  {{ end }}
  {{ with .Site.Params.social.aws }}
  <a href="{{.}}"><i class="fab fa-aws"></i></a>
  {{ end }}
  {{ with .Site.Params.social.dockerhub }}
  <a href="https://hub.docker.com/u/{{.}}/"><i class="fab fa-docker"></i></a>
  {{ end }}
  {{ with .Site.Params.social.instagram }}
  <a href="https://instagram.com/{{.}}"><i class="fab fa-instagram"></i></a>
  {{ end }}
  {{ with .Site.Params.social.linkedin }}
  <a href="https://linkedin.com/in/{{.}}"><i class="fab fa-linkedin"></i></a>
  {{ end }}
  {{ with .Site.Params.social.stackoverflow }}
  <a href="https://stackoverflow.com/users/{{.}}"><i class="fab fa-stack-overflow"></i></a>
  {{ end }}
  {{ with .Site.Params.social.medium}}
  <a href="https://medium.com/{{.}}"><i class="fab fa-medium"></i></a>
  {{ end }}
  {{ with .Site.Params.social.devto}}
  <a href="https://dev.to/{{.}}"><i class="fas fa-terminal"></i></a>
  {{ end }}
  {{ with .Site.Params.social.angellist}}
  <a href="https://angel.co/{{.}}"><i class="fab fa-angellist"></i></a>
  {{ end }}
  {{ with .Site.Params.social.keybase}}
  <a href="https://keybase.io/{{.}}"><i class="fab fa-keybase"></i></a>
  {{ end }}
  {{ with .Site.Params.social.email }}
  <a href="mailto:{{.}}"><i class="fas fa-envelope"></i></a>
  {{ end }}
  {{ with .Site.Params.social.pgpkey}}
  <a href="{{.}}"><i class="fas fa-key"></i></a>
  {{ end }}
  {{ with .Site.Params.social.xing }}
  <a href="https://www.xing.com/profile/{{.}}"><i class="fab fa-xing-square"></i></a>
  {{ end }}
  {{ if and ( .Site.Params.extra.rss ) ( .RSSLink ) }}
  <a href="{{ .RSSLink }}"><i class="fas fa-rss-square"></i></a>
  {{ end }}
</section>
