<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	<meta name="description" content="{{ .Summary | default .Site.Params.description }}" />
	<meta name="author" content="{{ .Site.Params.author.name }}" />
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
	<link rel="shortcut icon" href="img/favicon.ico">
	<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="img/favicon-194x194.png" sizes="194x194">
	<link href="https://fonts.googleapis.com/css2?family=B612+Mono&family=Major+Mono+Display&family=Montserrat&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/48886298d8.js" crossorigin="anonymous"></script>
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>
