<footer>
	<div class="footer" style="text-align: center;">
		<b><p>&copy; {{ now.Year }} {{ .Site.Author.name }}
		<a rel="me" href="https://fosstodon.org/@richardboydii"><i class="fi-snsuxl-mastodon"></i></a>
		{{- range .Site.Menus.footer }}
		<a href="{{ .URL }}">{{ .Pre }}</a>
			{{- end }}
			<a class="plaina" href="https://github.com/richardboydii/richardboydii.com/blob/master/README.md">README</a> 
			<a class="plaina" href="https://github.com/richardboydii/richardboydii.com/">SOURCE</a>
		</p></b>
	</div>
</footer>
