{{ partial "head" . }}
    <body>
        <div id="wrap">

        <!-- Header -->
        {{ partial "header" . }}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>What I Can Do</h2>
                        <hr></hr>
                    </div>
                    <div class="col-md-12 text-left">
                        <h4><p>
                            At this point in my career my strengths are leading and 
                            architecting. That takes many forms, from building 
                            coalitions to develop new systems to mentoring 
                            fellow engineers on new technologies. I love to write 
                            code and my current lingua franca is Python, though in 
                            a past life I loved Ruby and hope to get better 
                            aquainted with Rust and Go in the future. As far as 
                            cloud providers go my experience with AWS is deep and 
                            I've had the good fortune to be able to alpha and beta 
                            test new products in their portfolio. When it comes to 
                            automation, I feel that my core purpose is to automate 
                            myself out of a job. So what does all that mean? If you 
                            need someone to come in and help create momentum for 
                            implementing change, help rebuild your infrastructure, 
                            or set up a new CI / CD pipeline, I'm your guy. 
                        </p></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>What I've Done</h2>
                        <hr></hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 text-right" >
                        <h3>Senior DevOps Engineer</h3>
                        <h4>Civitas Learning</h4>
                        <h4>September 2015 - Present</h4>
                        <h4>Austin, TX</h4>
                    </div>
                    <div class="col-md-7 text-left" style="border-left: 1px solid #474F88;">
                        <h4><p style="padding-top:10px;">
                            At Civitas I wear several hats: DevOps team lead, 
                            architect, and systems engineer. I spend time mentoring 
                            to team members and enjoy bringing new ideas into our 
                            engineering culture. When I'm not working with our AWS 
                            TAMs or adivising managers on ways to approach new 
                            systems designs I focus on creating tooling so that we 
                            can automate our runbooks and carve out time to 
                            innovate. I have focused my efforts in growing my soft 
                            skills and helping foster a positive team culture that 
                            brings out the best in my fellow engineers.
                        </p></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 text-right">
                        <h3>Site Reliability Engineer</h3>
                        <h4>Invodo</h4>
                        <h4>September 2013 - September 2015</h4>
                        <h4>Austin, TX</h4>
                    </div>
                    <div class="col-md-7 text-left" style="border-left: 1px solid #474F88;">
                        <h4><p style="padding-top:10px;">
                            My role at Invodo evolved from a Software Systems 
                            Engineer towards a Site Reliability Engineer as the 
                            engineering department took on new duties. The things 
                            that I am most proud of from my time at Invodo are 
                            creating a Ruby Gem CLI tool that abstracted our 
                            build and deploy logic into a uniform build process. 
                            At the same time I was the lead SRE on developing the 
                            architecture around our next-generation CMS and API; 
                            we leveraged S3 and CloudFront to reduce the pain of 
                            running a NodeJS web app in an elastic fashion. I also 
                            introduced Vagrant and Packer to our team and created a 
                            multi-provider (AWS and Virtualbox) Vagrant baseline 
                            box that was a perfect match to our baseline AMI.
                        </p></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 text-right">
                        <h3>Senior Systems Engineer</h3>
                        <h4>SAIC / Leidos</h4>
                        <h4>February 2009 - September 2013 </h4>
                        <h4>Ft. Sam Houston, TX / Ft. Hood, TX</h4>
                    </div>
                    <div class="col-md-7 text-left" style="border-left: 1px solid #474F88;">
                        <h4><p style="padding-top:10px;">
                            I worked at Ft. Hood, then Ft. Sam Houston supporting 
                            DCGS-A deployable and fixed servers. At Ft. Hood I 
                            continued my work in Iraq, supporting servers that would 
                            be deployed alongside units to remote locations. At Ft. 
                            Sam Houston I supported a two clusters of blade servers 
                            used by the 470th Military Intelligence Brigade. My day 
                            to day activities involved monitoring and maintenance of 
                            the systems and security compliance. At the same time I 
                            created a simple Python Flask-based API service to 
                            monitor the health of services on the servers.
                        </p></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 text-right">
                        <h3>DCGS-A Afghanistan Technial Lead</h3>
                        <h4>SAIC</h4>
                        <h4>August 2008 - February 2009</h4>
                        <h4>Bagram, Afghanistan</h4>
                    </div>
                    <div class="col-md-7 text-left" style="border-left: 1px solid #474F88;">
                        <h4><p style="padding-top:10px;"> 
                            I was the senior engineer for the DCGS-A program in 
                            Afghanistan during a six month rotation. This included 
                            leading a select team of Field Service Representatives 
                            during a theater-wide upgrade of the deployed servers 
                            throughout the Afghanistan area of operations. My 
                            day to day centered around keeping the senior leadership 
                            (in theater and across the globe) up to date on the 
                            status of our upgrade operations. I also spent time 
                            performing systems administration on the server clusters 
                            that handled Intelligence pulled from throughout the 
                            theater.
                        </p></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 text-right">
                        <h3>DCGS-A OIF Field Service Representative Lead</h3>
                        <h4>SAIC</h4>
                        <h4>January 2008 - July 2008</h4>
                        <h4>Baghdad, Iraq</h4>
                    </div>
                    <div class="col-md-7 text-left" style="border-left: 1px solid #474F88;">
                        <h4><p style="padding-top:10px;"> 
                            During the first half of 2008 I was assigned to Iraq to 
                            lead a theater-wide upgrade of all DCGS-A systems in 
                            Iraq. I was in charge of twenty-four contractors from 
                            three different competing companies and given a six 
                            month window during the height of the surge to accoplish 
                            the mission. I was assigned less personnel and was able 
                            to bring the project to completion a month early. While 
                            in charge of the team I was tasked with keeping senior 
                            military leaders in Iraq and across the globe up to date 
                            on our prograess. In addition to these leadership 
                            responsibilities I also had to create the baseline 
                            images for client and server systems and develop a 
                            process for rapidly provisioning new systems for 
                            deployment. I also lead from the front by travelling 
                            to sites to personally upgrade systems.
                        </p></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 text-right">
                        <h3>DCGS-A Field Service Representative</h3>
                        <h4>SAIC</h4>
                        <h4>July 2007 - December 2007</h4>
                        <h4>Ft. Hood, TX</h4>
                    </div>
                    <div class="col-md-7 text-left" style="border-left: 1px solid #474F88;">
                        <h4><p style="padding-top:10px;"> 
                            After a two and a half years in Iraq I wanted to take a 
                            break and return to the states. I spent the next six 
                            months supporting III Corp, 4th Infantry Division, and 
                            1st Cavalry Divison DCGS-A systems. My major duties 
                            involved upgrading systems, wiping systems between field 
                            exercises, and preparing systems for deployment 
                            overseas. While not as intense as my work in Iraq, I was 
                            able to give first hand knowledge of the conditions 
                            and intelligence challenges to units that were set to 
                            deploy to Iraq.
                        </p></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 text-right">
                        <h3>JIOC-I Field Service Representative Lead</h3>
                        <h4>SAIC</h4>
                        <h4>September 2005 - June 2007</h4>
                        <h4>Baghdad, Iraq</h4>
                    </div>
                    <div class="col-md-7 text-left" style="border-left: 1px solid #474F88;">
                        <h4><p style="padding-top:10px;"> 
                            I was the first Field Service Representative hired to 
                            support Joint Intelligence Operations Center - 
                            Intelligence (JIOC-I) systems in Iraq. JIOC-I was an 
                            experimental intelligence fusion platform that would 
                            later be the foundation for Distributed Common Ground 
                            Station - Army (DCGS-A). I was in charge of developing 
                            a sustainable way of provisioning deployable systems 
                            and personally lead the deployment of all 24 
                            experimental server groups and over 200 client machines. 
                            As the program grew and more personnel were brought on 
                            board I became the leader of a diverse team of 
                            representatives that were divided into two groups: those 
                            deployed remotely and a mobile team of rapid response 
                            technicians. 
                        </p></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 text-right">
                        <h3>Intelligence Digital Architect</h3>
                        <h4>CACI International</h4>
                        <h4>December 2004 - September 2005</h4>
                        <h4>Baghdad, Iraq</h4>
                    </div>
                    <div class="col-md-7 text-left" style="border-left: 1px solid #474F88;">
                        <h4><p style="padding-top:10px;"> 
                            My first career after the military took me right back 
                            to Baghdad. After almost two years in Iraq during my 
                            military career I had intimate knowledge about the ways 
                            Intelligence was collected in theater and worked with 
                            the theater command to find better ways to dissemenate 
                            intelligence to the divisions in charge of peace-keeping 
                            operations. The most important aspect of my job was 
                            working with other intelligence organizations to fuse 
                            and share intelligence from disparate sources into a 
                            cohesive picture of what was happening in real time. 
                        </p></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 text-right">
                        <h3>All Soure Intelligence Analyst</h3>
                        <h4>US Army</h4>
                        <h4>December 1998 to November 2004</h4>
                        <h4>Bad Kreuznach and Wiesbaden, GE</h4>
                        <h4>Urosovec, Kosovo</h4>
                        <h4>Baghdad, Iraq</h4>
                    </div>
                    <div class="col-md-7 text-left" style="border-left: 1px solid #474F88;">
                        <h4><p style="padding-top:10px;"> 
                            I spent almost six years in the US Army, starting as a 
                            PV2 and ending my career as a Sergeant. My primary 
                            MOS was 96B: All Source Intelligence Analyst. This 
                            particular job is difficult because an All Source 
                            Analyst has to be able to understand disparate 
                            intelligence sources (sensors, first hand accounts, 
                            imagery) and fuse it together in order to create a 
                            mental model of what's going on at any one time on the 
                            battlefield. In Kosovo and Iraq I was challenged with a 
                            much different task: assymetric warfare and peacekeeping. 
                            In this capacity I acted more like a detective, tracking 
                            the activities of criminal and terrorist organizations 
                            as they vied for influence.
                        </p></h4>
                    </div>
                </div>
            </div>
        </div>
    <!-- Footer -->
    {{ partial "footer" . }}

    </body>
</html>
